.transition-transform {
  transition-property: transform, opacity;
}
.dot {
  transform: translateX(0);
  transition: transform 0.5s;
}

.dark-mode .dot {
  transform: translateX(100%);
}
.bordernya{
  border: 2px solid #409DF9 ;
}
.border-searc{
  border: 1px solid #727272;
}
.aside__container-list_information {
  position: relative;
  top: -14px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.aside__container-list_information > div p {
  font-size: 12px;
  color: #878c84;
  font-weight: 500;
}
.lebar-list{
  width: 17.5rem;
}
.bayangan{
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
}
.pembatas{
  position: relative;
  border: 1px solid #7C7C7C;
  width: 289px;
  left: -17px;
}
.tinggiCard{
  height: 60rem;
}

/* animasi untuk pop up card */
/* Transisi masuk */
.popup-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.popup-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
/* Transisi keluar */
.popup-exit {
  opacity: 1;
  transform: translateY(0);
}
.popup-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}
.popup-content {
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  position: absolute;
  z-index: 10;
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.atas{
  position: relative;
  top: -1.3px;
}
.kecil{
  font-size: 11px;
  position: relative;
  top: 3px;
}
